body {
  background: #f5f5f5;
}

h1 {
  color: #A40023;
  font-weight: lighter;
  border-bottom: 1px solid #1e1e1e;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 20px;
}

#catalog-items {
  list-style-type: none;
  display: flex;
  width: 90%;
  padding: 0 5% 20px 5%;
  flex-wrap: wrap;
}

#catalog-items li a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  color: #fff;
  font-weight: lighter;
}

#catalog-items li a:hover {
  background: #A40023;
}

.content {
  width: 90%;
  padding: 0 5%;
}

.content li a {
  color: #A40023;
}

.content li {
  margin: 5px 0;
}

@media screen and (min-width:500px) {
  
  h1 {
    width: 65%;
  }
  
}

@media screen and (min-width:768px) {
  
  h1 {
    width: 40%;
  }
  
}